

* {
    /*border: 0.1px solid red !important;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  background-color: #c7cacd;
}

/* Responsive Grid */

.container {
  margin: 0 auto;
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  width: 8%;
}

.col-2 {
  width: 16%;
}

.col-3 {
  width: 24%;
}

.col-4 {
  width: 33%;
}

.col-5 {
  width: 41%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58%;
}

.col-8 {
  width: 66%;
}

.col-9 {
  width: 74%;
}

.col-10 {
  width: 83%;
}

.col-11 {
  width: 91%;
}

.col-12 {
  width: 100%;
}

/* Nav */

header {
  background: black;
  padding: 1em 1em;
  position: fixed;
  width: 100%;
  color: white;
  z-index: 9999;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.nav-container {
  margin: 0 auto;
  width: 95%;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: upppercase;
  font-weight: 700;
}

.logo span {
  font-weight: 300;
}

.nav-menu {
  position: absolute;
  background: #464655;
  top: 100%;
  right: 0%;
  overflow: hidden;
  height: 0px;
}

.nav-menu--open {
  height: auto;
}

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li {
  border-bottom: 1px solid #575766;
}

.nav-menu li:last-child {
  border-bottom: none;
}

.nav-menu a {
  display: block;
  padding: 2em 6em;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-menu a:link, .nav-menu a:visited {
  color: white;
  text-decoration: none;
}

.nav-menu a:hover, .nav-menu a:focus {
  background: #7eccc4;
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: white;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

/* Profile Styles */

.profile-container {
  /*background-color: #c2d6d6; gray with bluish tint */
  background-color: #C7CACD;
  padding-top: 8%;
  padding-bottom: 8%;
}

.profile {
  width: 80%;
  margin: 0 auto;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.profile-pic {
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 50%;
  width: 70%;
  margin: 10px;
}

.profile-title {
  overflow: auto;
  padding: 5px;
}

.profile-title p {
  font-size: 1.25em;
}

#portfolio {
  background-color: white;
  padding-bottom: 6%;
  padding-top: 2%;
}

.projects > div {
  padding: 60px;
  z-index: 999;
}

.projects p {
  font-size: 1.15em;
}

.projects > h2 {
  display: flex;
  justify-content: center;
}

.project-2 > a  {
  display: block;
  /*margin: 0 auto;*/
  width: 87%;
}

.screenshot {
  width: 100%;
}

.screenshot:hover {
  opacity: 0.7;
}

/* Footer */

footer {
  /*background-color: #c7cacd;*/
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
}

footer p {
  letter-spacing: 0.16em;
}

#copyright, #email {
  display: flex;
  justify-content: center;
}

a:link {
  color: black;
  text-decoration: none;
}

#social {
    position: absolute;
    bottom: 60px;
    z-index: 9999;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    list-style: none;
    padding-left: 0;
}

#social li {
  float: left;
}

#social li a {
  float: left;
  margin-right: 30px;
  transition: all .25s ease-in;
  -webkit-transition: all .25s ease-in;
  display: block;
}

#social #linkedin a {
  width: 40px;
  margin-top: 2px;
  margin-right: 0;
}

#social #github a {
  width: 45px;
}

#social img {
  transition: all .25s ease-in;
  -webkit-transition: all .25s ease-in;
  width: 100%;
  opacity: .7;
}

#social a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

#social a:hover img {
  opacity: 1;
}

#social-media-circle {
  background-color: white;
  position: absolute;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  z-index: 99;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  left: 50%;
  bottom: 48px;
}

/* Media Queries */

@media only screen and (min-width: 700px) {
  .menu-toggle {
    display: none;
  }
  .nav-menu {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
  }
  .nav-menu li {
    display: inline-block;
    border: none;
  }
  .nav-menu a {
    padding: 0;
    margin-left: 3em;
  }
  .nav-menu a:hover,
  .nav-menu a:focus {
    background: transparent;
    color: #7eccc4;
  }
}

@media only screen and (max-width: 700px) {
  .profile {
    width: 100%;
    padding: 20px;
  }

  .profile-pic {
    display: none;
  }

  .profile-title {
    width: 100%;
  }

  .projects > div {
    width: 100%;
    padding: 20px;
  }

  footer {
    padding-top: 10%;
    padding-bottom: 10%;
  }



  #social-media-circle {
    /*height: 100px;
    width: 100px;
    bottom: 100px;*/
    display: none;
  }

  #social {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #social-media-circle {
    display: none;
  }

  #copyright {
    display: none;
  }

  #email {
  margin: 0 auto;
  }
}
