* {
  /*border: 0.1px solid red !important;*/
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  background-color: #c7cacd;
}


.container {
  margin: 0 auto;
  /*max-width: 1200px;*/
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  width: 8%;
}

.col-2 {
  width: 16%;
}

.col-3 {
  width: 24%;
}

.col-4 {
  width: 33%;
}

.col-5 {
  width: 41%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58%;
}

.col-8 {
  width: 66%;
}

.col-9 {
  width: 74%;
}

.col-10 {
  width: 83%;
}

.col-11 {
  width: 91%;
}

.col-12 {
  width: 100%;
}

/*Profile Styles*/
.profile-container {
  /*background-color: #c2d6d6; gray with bluish tint */
  background-color: #c7cacd;
  padding-bottom: 5%;
  padding-top: 5%;

}

.profile {
  width: 80%;
  margin: 0 auto;
  /*margin-bottom: 45px;
  margin-top: 10px;*/

}
.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.profile-pic {
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 50%;
  width: 70%;
  margin: 10px;
}
.profile-title {
  overflow: auto;
  padding: 5px;
}
#portfolio {
  background-color: white;
  padding-bottom: 6%;
  padding-top: 2%;

}
.projects > div {
  padding: 60px;
  z-index: 999;
}
.projects > h2 {
  display: flex;
  justify-content: center;
}
.project-2 > a  {
  display: block;
  /*margin: 0 auto;*/
  width: 87%;
}
.project-2 > a img {
  /*width: 87%;*/
}

.screenshot {
  width: 100%;
}
.screenshot:hover {
  opacity: 0.7;
}
footer {
  /*background-color: #c7cacd;*/
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;
}
footer p {
  letter-spacing: 0.16em;
}
#copyright, #email {
  display: flex;
  justify-content: center;
}
a:link {
  color: black;
  text-decoration: none;
}


#social {
    position: absolute;
    bottom: 60px;
    z-index: 9999;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    list-style: none;
    padding-left: 0;
}

#social li {
  float: left;
}

#social li a {
  float: left;
  margin-right: 30px;
  transition: all .25s ease-in;
  -webkit-transition: all .25s ease-in;
  display: block;
}

#social #linkedin a {
  width: 40px;
  margin-top: 2px;
  margin-right: 0;
}

#social #github a {
  width: 45px;
}

#social img {
  transition: all .25s ease-in;
  -webkit-transition: all .25s ease-in;
  width: 100%;
  opacity: .7;
}

#social a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

#social a:hover img {
  opacity: 1;
}

#social-media-circle {
  background-color: white;
  position: absolute;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  z-index: 99;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  left: 50%;
  bottom: 48px;
}
/*video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px);
}*/

@media only screen and (max-width: 700px) {
  .profile {
    width: 100%;
    padding: 20px;
  }
  .profile-pic {
    display: none;
  }
  .profile-title {
    width: 100%;

  }
  .projects > div {
    width: 100%;
    padding: 20px;
  }
  #copyright, #email {
  font-size: 0.75em;
  }
  #social-media-circle {
    height: 90px;
    width: 90px;
    bottom: 33px;
  }
  #social {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  #social-media-circle {
    display: none;
  }
}
